/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    width: 100%; /* Full width */
}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Set a fixed width for the login box */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.textbox {
    margin: 10px 0;
}

.textbox input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #2D7454;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Add transition for background-color and scaling */
}

.btn:hover {
    background-color: #5FA755;
    transform: scale(1.05); /* Slight scale-up effect on hover */
}

p {
    font-size: 14px;
    color: red;
}
